/*style.css*/
html, body {
  height: 100%;
}

body {
margin: 0;
display: flex;

/* this centers our sketch horizontally. */
  justify-content: center;
/* this centers our sketch vertically. */
  align-items: center;
}


/* this was an attempt at getting the github.io site to hide
menu bars when on iPhone. it doesn't seem to be successful, but
also doesn't seem to be giving me any trouble, either, so I
left it for now... */
.mdl-layout {
    overflow: visible;
}
.mdl-layout__drawer {
    position: fixed;
}
.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 64px;
}
.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header {
    position: fixed;
}
.mdl-layout__obfuscator {
    position: fixed;
}
